@import '../../Styles/Styles.scss';

.scTabBar {
	.scTabBarItem {
		.scTabBarIcon {
			margin-right: 5px;
		}
		&:hover {
			.title {
				color: $BrandColor;
			}

			.icon {
				color: $BrandColor;
			}
		}
	}
}
